<!DOCTYPE html>
<html lang='en'>

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='IE=11; IE=Edge; Opera=9; FF=3; Chrome=1;' />

    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta http-equiv='CONTENT-LANGUAGE' content='en-GB' />
    <meta charset='utf-8'>

    <title>JWT Generator</title>

    <link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}?{{now}}' />
</head>
<body><div id='container'>

