body {
    background-color: #f3f3f3;
    font-family: Calibri, Candara, Arial, sans-serif;
    font-size: 13px;
    font-size: 62.5%;
}

#container {
    position: absolute;
    width: 290px;
    top: 100px;
    left: 50%;
    margin-left: -145px;
    text-align: center;
    font-size: 1rem;
}

a div {
    width: 49%;
    white-space: nowrap;
    border: 1px solid #060;
    border-radius: 7px;
    padding: 4px 0;
}

input, textarea {
    width: 200px;
    padding: 0.1rem;
    text-align: center;
    font-size: 1rem;
}

#generate {
    width: 100px;
    margin-top: 3px;
}

#token {
    width: 100%;
    text-align: left;
}

a {
    color: green;
}
